<!DOCTYPE html>
<html>
<head>
  <title>Create a New SKATEBOARD</title>
</head>
<body>
  <form action="/skateboards/charlie" method="POST">
    <input type="text" name="type" placeholder="Type">
    <input type="text" name="size" placeholder="Size">
    <button type="submit">Save</button>
  </form>
</body>
</html>
