<!DOCTYPE html>
<html>
<head>
  <title>Skateboarding</title>
</head>
<body>
<h1>Kinds of Skateboards</h1>
  <p>Welcome to the skateboard management system.</p>
  <p>Click <a href="skateboards/new">here</a> to create a new skateboard.</p>
  <ul>
    <% @skateboards.each do |skateboard| %>
      <li><%= skateboard['type'] %>, <%= skateboard['size'] %></li>
    <% end %>
  </ul>
</body>
</html>
