#contact-info {
  font-size: .8em;
}
.job:hover {
  background-color: #e9e5dc;
  border-radius: 10px 5%;
  padding: 20px, 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.accomplish {
  font-size: .8em;
}
ol > li {
font-size: 3em;
}